.bananaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: stretch;
    transform: translateY(-120px);
    transition: 0s;
}

.banana {
    padding: 15px;
}

.authButton {
    text-align: center;
}
