.sideBar {
    overflow-y: auto;
      -webkit-overflow-scrolling:touch;
    background-color: #ffffff;
    border-right: 1px solid rgba(56,133,100,0.6);
    position: fixed;
    width: 300px;
    height: 100%;
    transition: ease-out .3s;
    z-index: 10;
  }

  .sideBar li {
    margin: 8px;
  }

  .search .inputWrapper {
    display: flex;
    align-items: center;
  }

  .clearButton {
    display: none;
    width: 36px;
    text-align: right;
  }

  .clearButton svg {
    transform: scale(0.5);
  }


  .dropdownChats {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
  }

  .dropdownChats:focus, .dropdownChats div:focus {
    outline: none
  }

  .dropdownChats div {
    width: inherit;
  }

  .dropdownChats:hover + .chatsList {
    display: block;
  }

  .chatsList {
    display: none;
    position: absolute;
    left: 50px;
    background-color: #f9f9f9;
    min-width: 200px;
    margin: auto;
    list-style: none;
    text-align: center;
    padding: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }

  .chatsList:hover {
    display: block;
  }

  .chatsList a{
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    margin: 0px;
  }

  .chatsList a:hover {
    background-color: #f1f1f1;
  }

  .search input {
    outline: none;
    border: none;
    width: 100%;
    padding: 0 7px;
    line-height: 36px;
    font-size: 14px;
  }

  .search {
    margin: 10px 10px 20px 10px;
    border-bottom: 1px solid rgba(56,133,100,0.4);
}

aside ul {
    margin-inline-start: 10px;
    list-style: none;
    margin-bottom: 20px;
    padding-inline-start: 15px;
  }

  @media screen and (min-width:768px) {
     .sideBar {
      left: 0px;
    }

    :global(body.close) .sideBar {
      transform: translateX(-301px);
    }
  }

  @media screen and (max-width: 768px) {
    .sideBar {
      left: -301px;
    }

    :global(body.close) .sideBar {
      transform: translateX(301px);
    }
  }

  .inputWrap {
    display: flex;
    align-items: center;
  }

  .dropdownSettings {
    display: none;
    list-style: none;
  }

  .dropdownSettings li ::before{
    content: "-";
    padding-right: 4px;
    float: left;
  }
