html {
  height: 100%;
  transition: transform .25s ease-out;
}

::-webkit-scrollbar {
  display: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a:visited, a:active, a:link {
  text-decoration: none;
  color: #282c34;
}
a:hover {
  color: #9B4274;
}

body {
  min-height: 100%;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to left bottom, #5BA183 -70%,#EBE184 90%);
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.app-wrapper {

}

.back-grad {
  height: 100%;
  width: 100%;
}

.main {
  position: absolute;
  padding-top: 60px;
  left: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  overflow: visible;
  transition: ease-out .3s;
}

.main-section {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin: auto;
  width: fit-content;
  background-color: rgb(255, 255, 255);
}

.side-bar {
  overflow-y: scroll;
  background-color: #ffffff;
  border-right: 1px solid rgba(56,133,100,0.6);
  position: fixed;
  width: 300px;
  height: 100%;
  transition: ease-out .3s;
  left: 0px;
}

.side-bar li {
  margin: 8px;
}

.sidebar-toggle, .sidebar-toggle:active {
  background-color: hsla(0,0%,100%,.8);
  z-index: 10;
  outline: none;
  position:fixed;
  bottom: 0px;
  width: 300px;
  padding: 0;
  margin: 0;
  transition: ease-out .3s;
}

.sidebar-toggle-button {
margin: 10px 0 10px 10px;
transition: ease-out .3s;
}

.sidebar-toggle-button > span {
  background-color: var(--theme-color,#9B4274);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px;
}

.dropdown-chats {
  width: 100%;
  -webkit-appearance: menulist;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.chats-list {
  list-style: none;
  text-align: center;
  padding: 0px;
  margin-top: 4px;
}

.search .input-wrapper {
  display: flex;
  align-items: center;
}

.clear-button {
  width: 36px;
  text-align: right;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.search input {
  outline: none;
  border: none;
  width: 100%;
  padding: 0 7px;
  line-height: 36px;
  font-size: 14px;
}

.input-wrap {
  display: flex;
  align-items: center;
}

.clear-button svg {
  transform: scale(0.5);
}

.search {
  margin-bottom: 20px;
  padding: 6px;
  border-bottom: 1px solid #eee;
}

aside>div>ul {
  margin-bottom: 40px;
}
.cont {
  color: #fff;
  background-color: #4e4e4e;
  margin: 20px;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
