html {
  height: 100%;
  transition: transform .25s ease-out;
}

.header {
  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}

button {
  display: flex;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

a:visited, a:active, a:link {
  text-decoration: none;
  color: #282c34;
}
a:hover {
  color: #9B4274;
}

body {
  -webkit-text-size-adjust: none;
  min-height: 100%;
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to left bottom, #5BA183 -70%, #F8FFFF 90%);
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.back-grad {
  height: 100%;
  width: 100%;
}

.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  overflow: visible;
  transition: ease-out .3s;
}

.main-section {
  width: 95%;
  max-width: 1000px;
  margin: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.header {
  margin: auto;
  width: fit-content;
  background-color: rgb(255, 255, 255);
}





.sidebar-toggle, .sidebar-toggle:active {
  /* background-color: hsla(0,0%,100%,.8); */
  z-index: 15;
  outline: none;
  position:fixed;
  bottom: 0px;
  width: 38px;
  padding: 0;
  margin: 0;
  transition: ease-out .3s;
}

.sidebar-toggle-button {
margin: 10px 0 10px 10px;
transition: ease-out .3s;
}

.sidebar-toggle-button > span {
  background-color: var(--theme-color,#9B4274);
  display: block;
  margin-bottom: 4px;
  width: 16px;
  height: 2px;
}






input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.cont {
  color: #000;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media screen and (min-width:768px) {
  body .main {
    left: 300px;
  }

  body.close .main {
    left: 0px;
  }
}

@media screen and (max-width: 768px) {
  body .main {
    left: 0px;
  }

  body.close .main {
    transform: translateX(300px);
  }
}

.statusBar {
  left: 50%;
  z-index: 1000;
  position: fixed;
  border: 1px solid green;
  width: 200px;
  text-align: center;
  }
